body{
	background: rgb(30, 30, 40);
}
/*-----home------*/
#home{
	text-align: center;
}

#home img{
	height: 80px;
	width: 320px;
}
#info{
	font-size: 24px;
	font-family: arial;
	text-align: justify;
	color: #fff;
}
/*-------Courses-----*/
table{
	border-collapse: collapse;
	width: 100%;
}
th{
	background: #4caf50;
	color: #fff;
}
th, td{
	text-align: left;
	padding: 15px;
	border: 1px solid #d7d7d7;
}
tr:nth-child(even){
	background: #f2f2f2;
}
tr:nth-child(odd){
	background: #e2e2e2;
}
/*----Tips, Project, About--------*/
.heading {
	font-family: monotype corsiva;
	font-size: 38px;
	color: green;
	text-align: center;
}
.content{
	font-size: 28px;
	font-family: arial;
	color: #fff;
}
/*-----Contact-----*/
form{
	width: 420px;
	margin: 50px auto;
}
.contact-input{
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-width: 500px;
	font-size: 18px;
	border-radius: 10px;
	line-height: 22px;
	background: transparent;
	border: 2px solid #4caf50;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	transition: all .07s ease;
	-moz-transition: all .07s ease;
	resize: none; /*--Can not resize contact form--*/
}
.contact-input:focus{
	border: 2px solid #cc4949;
}
[type="submit"]{
	font-family: 'montserrat' arial, helvetica, sans-serif;
	width:100%;
	background: #4caf50;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.7s;
	margin-top: -4px;
	font-width: 700px;
}
[type="submit"]:hover{
	background: #cc4949;
	
}